<!--The content below is only a placeholder and can be replaced.-->
<div >
<h1><img id="logo"src="./../assets/images/slogo.jpg">RAILWAY SITE</h1></div>
<div style="text-align:center">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Trains
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"></a>
          <a class="dropdown-item" href="#">Book Tickets</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Cancel Ticket</a>
           <div class="dropdown-divider"></div>

          <a class="dropdown-item" href="#">PNR Enquiry</a>
           <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Track YourTrain</a>
        </div>
        
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stays
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"></a>
          <a class="dropdown-item" href="#">IRCTC hotels</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Retiring Room</a>
           <div class="dropdown-divider"></div>
      
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="">Chart/Vacancy</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">

    </form>
  </div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
 Register
</button>&nbsp;&nbsp;&nbsp;

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register Your details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
  <div class="form-group">
  
 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    
  </div>
  <div class="form-group">
    
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  
<div class="form-group">
    
    <input type="mobile" class="form-control" id="exampleInputPassword1" placeholder="Mobile">
  </div>
<div class="form-group">
    
    <input type="country" class="form-control" id="exampleInputPassword1" placeholder="Country">
  </div>
  
<div class="form-group">
    
    <input type="state" class="form-control" id="exampleInputPassword1" placeholder="State">
  </div>
  
<div class="form-group">
    
    <input type="city" class="form-control" id="exampleInputPassword1" placeholder="city">
  </div>
  
<div class="form-group">
    
    <input type="pincode" class="form-control" id="exampleInputPassword1" placeholder="pincode">
  </div>
<!-- Default inline 1-->

<label  >Gender</label>&nbsp;&nbsp;
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
  <label class="custom-control-label" for="defaultInline1">Female</label>
</div>

<!-- Default inline 2-->
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample">
  <label class="custom-control-label" for="defaultInline2">Male</label>
</div>
<div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label style="color:brown;" class="form-check-label" for="exampleCheck1">I have read and agree with the Terms and Conditions. and also agree to receive promotional emails/SMS/offers/announcements from IRCTC & associated partners</label>
  </div>
<!-- Default inline 3-->
 
  
</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
  Login
</button>

<!-- Modal -->
 <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
 <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">SignUp</h5>


        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <form>
  <div class="form-group">
  
 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> 
  </div>
  <div class="form-group">
    
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  
</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>


</nav>

  <ul>

    
<rail-root></rail-root>
  </ul>


<router-outlet></router-outlet>
